.answer{
    background-color: aqua;
    width: 60%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border-radius: 50px 50px 50px 50px;
    /* padding: 10px 20px 10px 20px; */
    font-size: 20px;
}

.question{
    height: 80px;
    width: 52%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px 20px 40px;
    font-size: 25px;
}

.answer:hover{
    border: solid black 1px;
}

.question-container{
    height: 50px;
}

.answered{
    border: solid 2px blue;
}